<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        ">
         <!-- bean definitions here -->
	<bean class="com.project.spring.core.ci.collections1.Address" name="address1">
		<constructor-arg value="6260400081" index="0" type="String" />
	</bean>
	<bean class="com.project.spring.core.ci.collections1.Address" name="address2">
		<constructor-arg value="7804874091" index="0" type="String" />
	</bean>
	
	<bean class="com.project.spring.core.ci.collections1.Employee" name="emp1">
		<constructor-arg value="Thanendra Kashyap" />
		<constructor-arg>
			<list>
				<ref bean="address1" />
				<ref bean="address2" />
			</list>
		</constructor-arg>
	</bean>
         
</beans>