<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    
    xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
         <!-- bean definitions here -->
         
         <bean class="com.reference.Teacher" name="teacher1">
			 <property name="teacherName" value="Dsouza" />
			 <property name="email" value="sylvesterdsouza@gmail.com" />
		 </bean>
		 
		 <bean class="com.reference.Student" name="student1">
			 <property name="studentName" value="Thanendra Kashyap" />
			 <property name="address" value="Bilaspur" />
			 <property name="mentor" ref="teacher1" />
		 </bean>

</beans>