<h1>String Interpolation</h1>
<app-oneway-string-interpolation></app-oneway-string-interpolation>
<hr />
<h1>Event Binding</h1>
<app-oneway-event-binding></app-oneway-event-binding>
<hr/>
<h1>Attribute Binding</h1>
<app-oneway-attribute-binding></app-oneway-attribute-binding>
<hr/>
<h1>Class Binding</h1>
<app-oneway-class-binding></app-oneway-class-binding>
<hr/>
<h1>Style Binding</h1>
<app-oneway-style-binding></app-oneway-style-binding>
<hr>
<h1>Two way Data Binding</h1>
<app-twoway-data-binding></app-twoway-data-binding>
<hr>
<h1> Task </h1>
<app-task></app-task>
<hr/>
<router-outlet></router-outlet>