<div class="container">
    <div class="row">
        <select [(ngModel)]="shape">
            <option value="square">Square</option>
            <option value="rectangle">Rectangle</option>
            <option value="circle">Circle</option>
        </select>
        <select [(ngModel)]="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>
        <button (click)="draw()">Draw</button>
    </div>

    <div class="row">
        <div [class]="[shapeClass, colorClass]">
        </div>
    </div>
</div>