<div class="container-fluid" style="background-color: aquamarine; height: 100vh;">
    <div class="row h-100 " style="border: 30px solid pink;">
      <div class="col-12 col-sm-7 my-auto mx-auto text-center">
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-danger fs-3"> 
            <a routerLink="template-driven-form"  style="text-decoration: none; color: inherit;" (click)="navigateTo('template-driven-form')" >Template Driven Forms</a>
          </button>
  
          <button type="button" class="btn btn-danger mt-4 fs-3">
            <a routerLink="reactive-form" style="text-decoration: none; color: inherit;" (click)="navigateTo('reactive-form')">Reactive Forms</a>
          </button>
        </div>
      </div>
    </div>
  </div>